<p id="notice"><%= notice %></p>

<p>
  <b>Item:</b>
  <%= @grocery_item.item %>
</p>

<p>
  <b>Section:</b>
  <%= @grocery_item.section %>
</p>

<p>
  <b>Done:</b>
  <%= @grocery_item.done %>
</p>


<%= link_to 'Edit', edit_grocery_item_path(@grocery_item) %> |
<%= link_to 'Back', grocery_items_path %>
